name: Deploy Flutter Web - alertzone

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.3'
          channel: 'stable'

      - name: Clean Cache
        run: flutter clean

      - name: Get Dependencies
        run: flutter pub get

      - name: Build Web Release
        # DEV: flutter run --dart-define=GEOCODING_API_KEY=VALOR_AQUI
        run: flutter build web --release --dart-define=GEOCODING_API_KEY=${{ secrets.GEOCODING_KEY }}

      - name: Fix 404 routing for GitHub Pages
        run: cp ./build/web/index.html ./build/web/404.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          publish_branch: gh-pages
          cname: alertzone.help